<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Segunda Victima2</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
 <a href="index.html" class="logo"><img src="assets/img/sicalogo.jpg" alt="" class="img-fluid"></a>
      
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="sine.html">Regresar a Sine</a></li>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          
        </div>
      </div>
      <div class="text-center">
          <a href="" class="logo"><img src="assets/img/9.png" alt="" class="img-fluid"></a>
      </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>NOTIFICACIÓN DE EVENTOS PARA SEGUNDAS VICTIMAS </h2>

          <p>Como segunda víctima y a fin de darte un seguimiento oportuno, pondera los siguientes criterios.</p> <br>

<div class="table-container">
  <table class="table table-hover table-custom border-radius-total-5 no-margin" id="tablelistaReservas">
    <thead class="backGris-light-be">
      <tr class="s20">
        <th class="no-borders"></th>
        <th class="no-borders">Nunca</th>
        <th class="no-borders">Alguna vez</th>
        <th class="no-borders">Casi siempre</th>
        <th class="no-borders">Siempre</th>
        <th class="no-borders"></th>
      </tr>
    </thead>
    <tbody class="backWhite">
      <tr class="s18 colorGrayLight">
        <td class="no-pad-top no-pad-bot align-middle">Sentimientos de culpa.</td>
        <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <label class="s18 text-normal"></label>
          </div>
        </td>
      </tr>
      <tr class="s18 colorGrayLight">
        <td class="no-pad-top no-pad-bot align-middle">Pesimismo ante la vida, tristeza.</td>
        <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <label class="s18 text-normal"></label>
          </div>
        </td>
      </tr>
<tr class="s18 colorGrayLight">
        <td class="no-pad-top no-pad-bot align-middle">Cansancio.</td>
        <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <label class="s18 text-normal"></label>
          </div>
        </td>
      </tr>
<tr class="s18 colorGrayLight">
        <td class="no-pad-top no-pad-bot align-middle">Ansiedad.</td>
        <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <label class="s18 text-normal"></label>
          </div>
        </td>
      </tr>
<tr class="s18 colorGrayLight">
        <td class="no-pad-top no-pad-bot align-middle">Insomnio, dificultades para disfrutar sueño reparador.</td>
        <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <td class="no-pad-top no-pad-bot align-middle">
          <div class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
            <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
            <label class="s18 text-normal"></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div> <br> <br>

<h6 align="left">Nombre completo </h6>

<div class="form-floating">
  <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Texto de respuesta corta</label>
</div><br>

<h6 align="left">Numero telefonico de contacto  o mail de contacto</h6>
<div class="form-floating">
  <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Texto de respuesta corta</label>
</div>

<br>

<button class="btn btn-primary mb-3" ng-click="Save()">Guardar</button>
     </center>
    </form>


     <button class="btn btn-primary mb-3" ng-click="send()">Enviar</button>
     </center>
    </form>
  </div>

     
    </section><!-- End About Section -->

    
  </main><!-- End #main -->

  

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        

 <img src="assets/img/copy.png" alt="" class="img-fluid">


        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>